.chart-container {
    position: relative;
    max-height: 20rem;
    min-height: 20rem;
    background-color: #fff;
    box-shadow: 0px 0px 40px #fff;
    border-radius: 7px;
    margin: 1rem 0 2rem 0;
    padding: 0.5rem;

    .chart-canvas {
        display: none;
    }
}