.chart-container {
    position: relative;
    height: 20rem;
    min-height: 10rem;
}

.chart-error {
    padding: 0.5rem;

    h2 {
        display: none;
    }

    canvas {
        display: none;
        // margin: 0 auto;
    }
}