<div class="chart-container" [ngClass]="{'chart-container-error': error.status !== undefined}">

    <app-loading-chart *ngIf="chart.data === undefined && error.status === undefined"></app-loading-chart>

    <canvas [id]="id" [attr.aria-label]="ariaLabel" class="chart-canvas">
        <ng-container *ngIf="chart.data !== undefined">
            {{ chart }}
        </ng-container>
        <h2>{{ ariaLabel }}</h2>
    </canvas>

    <div class="errorBox text-center" *ngIf="error.status !== 200">
        <h3 class="h5">{{ error.message }}</h3>
        <p class="display-5">{{ error.status}}</p>
    </div>

</div>