// chart container
.chart-container {
    border: 2px solid transparent;
    height: 25rem;
    background-color: #fff;
    box-shadow: 0px 0px 40px #fff;
    border-radius: 7px;
    // margin: 1rem 0 3rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    transition: all .25s linear;

    .chart-canvas {
        display: none;
    }

    .errorBox {
        p {
            letter-spacing: 1rem;
            padding: 0;
            margin: 2rem 0 0 0;
        }

        h3 {
            padding: 0;
            margin: 0;
        }
    }

}

.chart-container.open {
    width: 80% !important;
}

// chart help
.chart-help {
    margin-left: 1rem;
    width: 10%;

    p {
        display: none;
    }
}

.chart-help.open {
    width: 20% !important;

    p {
        display: block !important;
    }
}

// chart error
.chart-container-error {
    border: 2px solid #aaa;
    box-shadow: none;
    color: #aaa;
}