<div style="display:flex; border: 1px solid red;">
    <div class="chart-container" [ngClass]="{ 'chart-container-error': error !== undefined, 'open':isHelpOpen }">

        <app-loading-chart *ngIf="chart.data === undefined && error === undefined"></app-loading-chart>

        <canvas [id]="id" [attr.aria-label]="ariaLabel" class="chart-canvas">
            <ng-container *ngIf="chart.data !== undefined">
                {{ chart }}
            </ng-container>
            <h2>{{ ariaLabel }}</h2>
        </canvas>

        <div class="errorBox text-center" *ngIf="error">
            <h3 class="h5">{{ error.message }}</h3>
            <p class="display-5">{{ error.status }}</p>
        </div>

    </div>

    <div class="chart-help" style="display:flex; flex-direction: column; justify-content:space-between;"
        [ngClass]="{'open':isHelpOpen}">
        <h2 class="h5">Help</h2>
        <div style="overflow-y: auto; max-height: 300px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, sit.</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sit blanditiis temporibus sapiente velit,
                obcaecati at dolorum amet et eius inventore laudantium deleniti facere totam!</p> -->
        </div>
        <button (click)="onToggleHelp($event)">{{helpBtnText}}</button>
    </div>
</div>