<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ng14 / Chart.js 4</title>
</head>

<body>
    <div class="container">
        <h1 class="h5">Ng14 / Chart.js 4</h1>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 text-md-end">
                <h2 class="h6">Example 1: Bar</h2>
                <p>A reusable chart component.</p>
            </div>
            <!-- e.g. 1 BAR chart w sales data1 -->
            <div class="col-sm-12 col-md-6 canvas-col">
                <app-chart #barChart [id]="barChartId" [ariaLabel]="barChartAriaLabel"></app-chart>
            </div>
        </div>
        <!-- <hr> -->
        <div class="row mt-5">
            <!-- e.g. 2 LINE chart w sales data2 -->
            <div class="col-sm-12 col-md-6 text-md-start order-md-2">
                <h2 class="h6">Example 2: Line</h2>
                <p>Same component, different data/configuration.</p>
            </div>
            <div class="col-sm-12 col-md-6 order-md-1 canvas-col">
                <app-chart #lineChart [id]="'lineChart'" [ariaLabel]="'A LINE Chart'"></app-chart>
            </div>
        </div>
    </div>

</body>

</html>