<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="h4 mb-3">Angular 14 &amp; Chart.js 4</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>This bar chart is a <b>reusable component</b>.</p>
                <p>To use it, pass in the ID, aria-label (for HTML5 canvas accessibility) and options.</p>
            </div>
            <!-- e.g. 1 bar chart w sales data1 -->
            <div class="col-sm-12 col-md-6">
                <app-bar-chart *ngIf="barChartIsReady" [id]="barChartID" [chartConfig]="barChartConfig"
                    [ariaLabel]="barChartAriaLabel">
                </app-bar-chart>
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- e.g. 2 bar chart w sales data2 -->
            <div class="col-sm-12 col-md-6">
                <app-bar-chart *ngIf="lineChartIsReady" [id]="lineChartID" [chartConfig]="lineChartConfig"
                    [ariaLabel]="lineChartAriaLabel">
                </app-bar-chart>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>This is the same component except the ID, aria-label, and options are different.</p>
            </div>
        </div>
    </div>
</body>

</html>