<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="h2">Angular 14 &amp; Chart.js 4</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>This is a reusable bar chart component. To use, pass in the ID, aria label and config.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <app-bar-chart [id]="barChartId" [chartConfig]="barChartConfig" [ariaLabel]="barChartAriaLabel">
                </app-bar-chart>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <app-bar-chart [id]="lineChartId" [chartConfig]="lineChartConfig" [ariaLabel]="lineChartAriaLabel">
                </app-bar-chart>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>This is the same component except the id, aria label, and config is different.</p>
            </div>
        </div>
    </div>
</body>

</html>