/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ffffff;
    background-image: url("assets/liquid-cheese.svg");
    background-attachment: fixed;
    background-size: cover;
}